/* CSS BY YOUR NAME */

/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS"

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */

*{
    box-sizing: border-box;
}


body{
    font-family: var(--font);
    line-height: 1.6;
    color:var(--white);
    background-color:var(--white);
    min-width: 400px;

}



.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem 2rem 1rem;
   
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
.hero{

    background-image: linear-gradient(0,0,0,0.85), rgba(0,0,0,0.85) ur
}




  
  
 






.hero h2{
    font-weight: 700;
    background-color: var(--white);
    box-shadow: none;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
    animation: fadeInDown 0.8s ease-out forwards;
    animation-delay: 0.5s;
    bottom: 50px;
     position: relative;
  top: -125px; /* Move up */
}


.hero p{
    color: var(--white);
    margin-bottom: 2rem;
    z-index: 2;
    text-align: center;
}

.cta-button{
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    border: 1px;
    font-weight: 700;
    cursor: pointer;

   
    position: relative;
    z-index: 2;
    animation: fadeInDown 1.5s ease out forwards;
    animation-delay: 0.6s;
    
    
}


/* ADD FLOATING SVG LOGO BEFORE THE H1 */
.svg
{
    content: "";

    left:-.5rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;

}








/* MEDIA QUERIES (MEDIUM) */ 

@media (min-width: 800px) {
    .service-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .results-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .results-table{
        width: 50%;

        .bar-chart{
            width: 50%;
        }
}
}


/* /* MEDIA QUERIES (Large) */ 
  @media (min-width:1024px) {
    .service-grid{
        grid-template-columns: 3, 1fr;
        gap: 3rem;
    }

       .nav-brand{
        gap: 3rem;
       }

       .contact-form{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 2rem;
        max-width: 1024px;
       }
    .form-group{
        flex: 1 1 45%;
        min-width: 300px;
    }

    .form-group textarea{
        min-width: 100%;
        max-width: 100%;

        .submit-button{
            align-self: start;
            margin-left: 0;
            margin-right: 0;
            flex-grow: 1;
            flex-basis: 0;
        }

    }
  }


    #results {
        grid-template-columns: 1fr 1fr;
    }
    .results-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }

    .nav-logo{
        width: 50px;
        height: 50px;
        position: relative;
        bottom: 50px;
        animation: float 3s ease-in-out infinite; 
       
    }

    .nav-brand{
        color: var(--blue);
        font-size: 3rem;
        padding-left: 70px;
        margin-bottom: 11px;
       font-weight: 500;
       position: relative;
       bottom: -15px;
       background-color: var(--black);
       box-shadow:var(--blue) 0 12px 15px; 
       
       
    
       
        
    }

    .nav-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 1rem;
           position: relative;
  top: -125px; /* Move up */

        
        

    }   
    
    .nav-links{
        gap: 2.5rem;
        margin: 0;
        padding: 0;
    
        padding: 0;
        align-items: flex-start;
        display: flex;
        list-style: none;
        
    }

    .nav-links li a{
        color: var(--blue);
        
      font-weight: 700;
      font-size: 1rem;
      padding: 0.5 rem .5rem;
      display: block;
      text-transform: uppercase;
      background: var(--blue);
      background-color: var(--black);
      transition: 0.5s color 0.5s

    }


    .hero{
        background:  linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
        url(images/vanguard-hero.jpg) no-repeat center center/ cover;
        min-height: 100vh;
        display: grid;
        place-items: center;
        padding: 1rem;
        text-align: center;
        overflow: hidden;
        position: relative;
        height: 1000px;
        
    }

    .hero-content{
        background: rgba(24, 24, 24, 0.2);
        backdrop-filter: blur (10px);
        text-align: center;
        margin: 0 1rem;
        
    }

    .hero h2{
       color: var(--black);
       margin-bottom: 1rem;
       position: relative;
       z-index: 2;
       bottom: -200px;
    }

    .about{
        padding-top: 2rem;
        background-color: var(--white);
        color: var(--black);
        font-size: 15px;

    }


    .about h2{
        font-weight: 700;
        color: #000000;
        margin-bottom: 1rem;
        margin-left: 1rem;
        text-align: left;
        padding-left: -1rem;
        animation: fadeInDown 0.8s ease-out forwards;
        font-size: 20px;
    }

    .about p{
        line-height: 1.3;
        margin: 0 auto;
        text-align: left;
         font-size: 5px;
         padding-left: 2rem;
         font: 1em sans-serif;
         text-indent: 0;
         
    }

    .services{
        padding: 1rem 0 2rem 0;
        background-color:var(--white)

    }

    .services h2{
        font-weight: 700;
        color: black;
        margin-bottom: 3rem;
        text-align: left;
        margin-left: left;
        animation: fadeInDown 0.5s ease-out forwards;
       

    }

    .service-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    
    /* Global Service card setting */
    .service-card{
        background-color: var(--blue);
        padding: 1rem;
        border-radius: 10px;
        color: var(--white);
        width: 350px;
        transition: transform 0.6s ease, box-shadow 0.5s ease;

    }

    .service-card:hover{
        transform: translate(-5px);
        box-shadow: 0 8px 30px;
    }

    .service-card h3{
        color: var(--white);
        margin-bottom: 1rem;
        margin-left: 1rem;
        font-weight: 600;
    }

    .service-card p{
        color: var(--white);
        line-height: 1.6;
    }



    .results{
        padding: 4rem 0;
        background-color: var(--blue);
        color: var(--white);
    }

    .results h2{
        color: var(--white);
        margin-bottom: 1rem;
        margin-left: 1rem;
        text-align: left;
        animation: fadeInDown 1.0s ease out forwards;
    }



    .results-container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .results > .container > p{
        text-align: left;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
    }

    .results-table h3{
        color: var(--white);
        margin-left: 1rem;
        text-align: left; 
        animation: fadeInDown 1.5s ease-out forwards;

    }

    table{
        background-color: var(--black);
        color: var(--white);
        box-shadow: 0 2px 15px; 
        width:100%;
        overflow: hidden;
    }

     thead{
        background-color: var(--black);
        color: var(--white);
     
        

    }

    th, td{
        padding: 1rem;
        text-align: center;
        border-bottom: 5px solid var(--charcoal)
        
        
    }

    th{
        font-weight: 600;
    }

    tbody tr:nth-child(odd){
        background-color: #333333;
    }


    /* Bar chart */
    #bar-chart{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: flex-end;
        justify-content:space-around;
        gap: 1rem;
        height: 300px;
        width: 40%;
        max-width: 800px;
        padding: 1rem;
        position: relative;
        top:-400px;
        margin-left: auto;
        margin-bottom: 10px;
        
    }

    .bar {
        width: 50px;
        background: black;
        border-radius: 5px;
        position: relative;
        animation: stepUp 1s ease-in-out forwards;

    }
    
       .bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    }

    @keyframes stepUp{
        0%{
            height: 0;
        }
        100%{
            height: var(--height)
        }
    }


    @keyframes float {
        0%, 100%{
            transform: translate(0);
        }
        50%{
            transform: translate(-8px)

        }
    }

   @keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

    .contact{
        padding: 4rem 0;
        background-color: var(--black);
        color: var(--white);
        
       
    }
    .contact h2{
        font-weight: 400;
        color: var(--white);
        margin-bottom: 1rem;
        text-align: left;
        margin-left: 1rem;
        animation: fadeInDown 0.8s ease-out forwards;
        

        

    }

    .contact > .container > p{
        text-align: left;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
   

    .contact-form{
        max-width: 600px;
        margin: 0 auto;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }



    .form-group{
        margin-bottom: 1.5rem;
        

        
    }


    .form-group label{
        display: block;
        font-weight: 600;
        margin-bottom: 0.5rem;
        color: var(--white);
      
    }



    .form-group input,
.form-group textarea{
        width: 100%;
        padding: 0.75rem;
        border: 2px solid var(--blue);
        border-radius: 5px;
        font-size: 1rem;
        
        margin-left: 10px;
        

    }

    .form-group input:focus,
    .form-group textarea:focus{
        outline: none;
        
    }

 


.submit-button{
    background-color: var(--blue);
    width: 100%;
    color: var(--white);
    padding: 1 rem 2rem;
    font-size: 1.1rem;
    padding-left: 2rem;
    border-radius: 10px;
    height: 50px;
    transition: 0.8s ease;
    font-weight: 600;
}


.submit-button:hover{
    background-color: orangered;
    color: var(--white);
}


.footer{
    background-color: var(--black);
    color: var(--white);
    padding: 2rem 0;
    text-align: center;
}


.footer-contact{
    margin-top: 1rem;

}

.footer-contact p{
 margin-right: 1rem;
}

.footer-contact a{
    color: var(--blue);
    transition: 1.8 ease;

}

.footer-contact a:hover{
    color: var(--blue);
}

    

/* MEDIA QUERIES (LARGE) */
@media (mind-width:1024){
    .service-grid{
        grid-template-columns: repeat(3,1fr);
        gap: 3rem;
    }
}
